* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    background-color: white;
    margin: 60px auto;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
}

input, button {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: bisque;
}